section.form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.input-area {
  display: flex;
  flex-direction: column;
}

.input-area label {
  margin-bottom: 10px;
  font-weight: 900;
  color: #333;
}

.input-area input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #777;
  font-size: 15px;
}

section button {
  width: 20%;
  padding: 10px;
  font-size: 15px;
  background-color: #4AB238;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 900;
  cursor: pointer;
}

section button:hover {
  background-color: rgba(74, 178, 56, 0.9);
  transition: all 0.4s;
}

@media (max-width: 560px) {
  section button {
    width: 50%;
  }
}

@media (max-width: 480px) {
  section button {
    width: 100%;
  }
}